/**
 * Base styles ~ Type
 */

@font-face {
    font-family: 'graphik';
    src: url('fonts/Graphik-Light.eot');
    src: url('fonts/Graphik-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Graphik-Light.woff2') format('woff2'),
         url('fonts/Graphik-Light.woff') format('woff'),
         url('fonts/Graphik-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'graphik';
    src: url('fonts/Graphik-LightItalic.eot');
    src: url('fonts/Graphik-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/Graphik-LightItalic.woff2') format('woff2'),
         url('fonts/Graphik-LightItalic.woff') format('woff'),
         url('fonts/Graphik-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'graphik';
    src: url('fonts/Graphik-Regular.eot');
    src: url('fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Graphik-Regular.woff2') format('woff2'),
         url('fonts/Graphik-Regular.woff') format('woff'),
         url('fonts/Graphik-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

$base-font: "graphik", helvetica, futura, sans-serif;
$alt-font: "graphik", helvetica, futura, sans-serif;

a {
    color: $white;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

h1, .h1, %h1,
h2, .h2, %h2,
h3, .h3, %h3,
h4, .h4, %h4,
h5, .h5, %h5,
h6, .h6, %h6 {
    margin: 14px 0;
    font-family: $base-font;
    font-weight: normal;
    font-style: normal;
    // color: $heading-colour;
    text-rendering: optimizeLegibility;
}

h1,
.h1,
%h1 {
    @include font(4.4, 4.84);
}

h2,
.h2,
%h2 {
    @include font(3.7, 4.07);
}

h3,
.h3,
%h3 {
    @include font(2.7, 2.97);
}

h4,
.h4,
%h4 {
    @include font(2.3, 2.53);
}

h5,
.h5,
%h5 {
    @include font(1.7, 1.87);
}

h6,
.h6,
%h6 {
    @include font(1.4, 1.58);
}

p {
    margin-bottom: 17px;
    font-family: inherit;
    font-weight: normal;
}

hr {
    margin: 22px 0 21px;
    height: 0;
    // border: solid $hr-color;
    border-width: 1px 0 0;
    clear: both;
}

em,
i {
    font-style: italic;
    line-height: inherit;
}

strong,
b {
    font-weight: bold;
    line-height: inherit;
}

small {
    font-size: 60%;
    line-height: inherit;
}



