/**
 * Join site specifics
 */

.main-container[role="switch"] {
    min-height: calc(100vh - 10em);
    @include transition(all .3s);
    section {
        [class^="section-content-wrap"] {
            @include mobile {
                padding: 4em 1em;
                .content-col-left.seven {
                    margin: 0;
                    padding: 0 2em;
                }
                &.payment {
                    padding: 4em 0em;
                    .card-contents.switch {
                        
                    }
                }
            }
        }
    }
    .btn--select {
        color: $navy;
        transition: all .3s;
        box-shadow: 0 0 0 0;
        background-color: transparent;
        border: 1px solid $navy;
        &:hover {
            @include soft-blur;
        }
        &.selected {
            color: $white;
            background-color: $navy;
        }
        &.fit {
            @include all-button-radius;
            color: white;
            text-align: center;
            border: none;
            padding: 1em;
            width: calc(33% - 3%);
            display: inline-block;
            margin-right: 5%;
        }
        &.last {
            margin-right: 0;
        }
        .fa {
            float: left;
        }
        &.bg--fb {
            color: white;
            background-color: $fb-blue;
            margin-right: 2%;
            .fa {
                padding-right: 1em;
                margin-top: .125em;
            }
        }
    }
}
ul.svg-cards {
    height: 3.5rem;
    width: 100%;
    @include v-align;
    justify-content: flex-end;
    [class^="card--"] {        
        float: right;
        width: $fs-large;
        height: calc(#{$fs-large} * .7);
        background-size: contain;
        margin: 0 .5em;
    }
    .card--standard {
        margin-right: 0;
        background-image: url('/img/cards/standard1.png');
        &.invalid {
            background-image: url('/img/cards/invalid.png');
        }
        &.valid {
            background-image: url('/img/cards/standard2.png');
        }
    }
    .card--mc {
        background-image: url('/img/cards/MC1.png');
        &.valid {
            background-image: url('/img/cards/MC2.png');
        }
    }
    .card--visa {
        background-image: url('/img/cards/visa-debit1.png');    
        &.valid {
            background-image: url('/img/cards/visa-debit2.png');
        }
    }
}
.card-error {
    display: none;
    color: red;
    font-size: $fs-small;
    text-align: right;
    @include active;
}


.svg--card {
    &:after {
        color: $grey;
        font-family: FontAwesome;
        font-size: 2em;
        position: absolute;
        right: 0;
        top: 0.6em;
        @include transition(color .3s);
    }
    &.unknown {
        &:after {
            content: "\f09d";
        }
    }
    &.visa {
        &:after {
            content: "\f1f0";
        }   
    }
    &.jcb {
        &:after {
            content: "\f24b";
        }
    }
    &.club {
        &:after {
            content: "\f24c";
        }
    }
    &.amex {
        &:after {
            content: "\f1f3";
        }
    }
    &.master {
        &:after {
            content: "\f1f1";
        }
    }
    &.discover {
        &:after {
            content: "\f1f2";
        }
    }
    &.valid {
        &:after {
            color: $navy;
        }
    }
}
.super-bg {
    background-size: 100% auto;
    background-position: 50% calc(100% - 190px);
    background-repeat: no-repeat;
    background-image: url('/img/signup-bg.jpg');
    @include widescreen {
        background-position: 50%;
    }
}
.card-header {    
    span {
        float: right;
        .small {
            font-size: .25em;
            vertical-align: super;
            display: inline-block;
        }
    }
}

/**
 * quickquote
 */

.quickquote {
    @include tablet {
        h1.content-title {
            font-size: 2rem;
        }
        .content-col-left {
            &.seven {
                width:100%;
                margin: 0 2em;
            }
        }
        .content-col-right {
            &.five {
                width:100%;
            }
        }
    }
    @include mobile {
        .quoteResults {
            margin: 0 2em;
        }
        h1.content-title {
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
    }
}

/**
 * Total Quote step2 Read more - card contents
 */
.moreinfo {
    section {
        ul.block-list {
            li {
                list-style: disc;
                margin-left: 1em;
                padding-left: 1em;
                margin-top: .5em;
            }
        }
        .block-title--navy {
            font-weight: bold;
        }
        .contents-col {
            .card-contents-head.quote {
                margin: 1.25em 0;
            }
        }
    }
    @include mobile {
        .card-content-body {
            .six {
                width: 100%;
            }
        }
    }
}
/**
 * card secure payment assets
 */
.stripe-verified {
    background-color: $lightgreen;
    border-radius: 5px;
    padding:0.5em;
    margin-bottom: 2em;
    .layout {
        font-size: 0;
        @include v-align;
        li {
            font-size: 1rem;
            display: inline-block;
            &.lock {
                color: $green;
                font-size: 2.5rem;
                width: 1.25em;
                text-align: center;
            }
            &.details {
                width: calc(70% - 1.25em);
            }
            &.stripe-container {     
                color: white;
                width: calc(29% - .5em);
                margin-left: 2%;
                margin-right: .5em;
                .container {
                    float: right;
                    .badge {
                        border-radius: .5rem;
                        @include v-align;           
                        background-color: $greydarker;
                        font-size: .65em;
                        padding: 0 .75em;
                        span {
                            position: relative;
                            float: none;
                            text-align: right;
                            &:after {
                                content: "";
                                position: absolute;
                                background-color: white;
                                width: 2.3rem;
                                height: 1.2rem;
                                margin-left: .25rem;
                                top: -0.1rem;  
                                @media (max-width: #{$desktop-width}){
                                    top: 0.1rem;
                                }                              
                            }                            
                        }
                        .fa {
                            margin-left: .05em;
                            font-size: 2rem;
                            color: $greydarker;
                        }
                    }
                }
            }
        }
    }
}
/*
 * welcome page social media buttons
 */
.card-contents {
    .card-content-foot {
        a.btn--select {
            font-size: .8rem;
            @media (max-width: #{$desktop-width}) {
                .fa {
                    display: none;
                }
            }
        }
    }
}

.section-content-wrap {
    &.welcome {
        .content-col-left.seven {
            padding-bottom: 25vh;
            @include mobile {
                padding-bottom: 0;
            }
        }
    }
}
