// Logo Animation ===============================================

.line {
  fill:none;
  stroke:$white;
  stroke-width:6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dasharray: 800;
  stroke-dashoffset: 200;
  &.motion {
    animation: dash 2s ease-out both;
  }
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 900;
  }
  to {
    stroke-dashoffset: 200;
  }
}

@-moz-keyframes dash {
  from {
    stroke-dashoffset: 900;
  }
  to {
    stroke-dashoffset: 200;
  }
}

@-o-keyframes dash {
  from {
    stroke-dashoffset: 900;
  }
  to {
    stroke-dashoffset: 200;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 900;
  }
  to {
    stroke-dashoffset: 200;
  }
}


// End Logo Animation ===============================================

.spin-loader {
  margin: 4em auto;
  font-size: .4rem;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid $green;
  border-right: 0.5em solid $green;
  border-bottom: 0.5em solid $green;
  border-left: 0.5em solid rgba(0,0,0,.2);
  @include transform(translateZ(0));
  &.run {
    animation: spinner 1s infinite linear;
  }
}
.spin-loader,
.spin-loader:after {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
@keyframes spinner {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

/* Angular Animate */

.ui-view-container {
  position: relative;
  min-height: 50vh;
  @include transition(all .5s);
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  opacity: 1;
  left: 0;
  right: 0;
  @include transition(all .35s ease-in-out);
}

[ui-view].ng-enter {
  opacity: 0;
  @include transform(translate3d(0, 15px, 0));
  overflow: hidden;
}

[ui-view].ng-enter-active {
  opacity: 1;
  @include transform(scale3d(1, 1, 1));
}

[ui-view].ng-leave {
  opacity: 0;
  @include transform(translate3d(0, 0, 0));
}

[ui-view].ng-leave-active {
  opacity: 0;
  @include transform(translate3d(0, 0, 0));
}

/*
 NG-CLOAK
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
