/***
* Sizing :: Margins and Paddings
***/

$window-padding: 4em;
$card-content-padding: 2em;
$button-padding: 1em 2em;

$small: 0.5em;

$jump: 1.5em;

$hero-margin: 15vh;

/***
* Font sizes
***/

$fs-header: 3.5rem;
$fs-small: .85em;
$fs-large: 2em;

$fs-mobile: .85rem;

/***
* Misc
***/

$form-field-radius: .3em;
$dropdown-width: 350px;
